.dono{
    text-align: center;
    background-color: white;
    height:700px;
}
.d1{
    border:2px solid black;
    padding-bottom: 22px;
    margin-left: 350px;
    margin-right: 350px;
    background-color: lightgoldenrodyellow;
}