.lwc{
    background-color: papayawhip;
    height:100%;
    margin-top:-20px;
}
.his{
    text-align: center;
}
.m1{
    text-align: center;
}
.m2{
    height: 200px;
    position: relative;
    width: 400px;
    margin-left: 70px;

}