
.person{
    background-color: papayawhip;
    text-align: center;

}
.p2{
    border:2px solid black;
}
.bu1{
    background-color: ghostwhite;
    border:2px solid black;
    margin-left:10px;
    margin-bottom: 5px;
    padding:2px;
}